name: Build binaries

on:
  workflow_dispatch
  #schedule:
  #  - cron: '5 5 * * *'

permissions:
  contents: write

env:
  ONIUX_ROOT_DIR: /tmp/oniux
  APT: sudo apt -y -qq -o=Dpkg::Use-Pty=0

defaults:
  run:
    shell: bash

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        ARCH: [x86_64, aarch64]
        LIBC: [glibc, musl]
        include:
          - OS: ubuntu-latest
            ARCH: x86_64
          
          - OS: ubuntu-24.04-arm
            ARCH: aarch64

          - CONTAINER: debian:bookworm
            LIBC: glibc

          - CONTAINER: frolvlad/alpine-bash:latest
            LIBC: musl
            
    runs-on: ${{ matrix.OS }}
    
    container:
      image: ${{ matrix.CONTAINER }}
    
    env:
      OS: ${{ matrix.OS }}
      ARCH: ${{ matrix.ARCH }}
      CONTAINER: ${{ matrix.CONTAINER }}
      LIBC: ${{ matrix.LIBC }}
  
    steps:
    - name: Install prerequisites
      run: |
        if [[ $CONTAINER =~ "debian" ]]; then
          apt update && apt install -y build-essential file sudo bash
          
          sudo dpkg --get-selections | grep -i libssl
          $APT autoremove --purge libssl-dev
        fi
        
        if [[ $CONTAINER =~ "alpine" ]]; then
          apk update && apk add -y build-essential file sudo bash
          apk del libssl-dev
        fi
        
        sudo chsh root -s /bin/bash
        sudo chsh runner -s /bin/bash
    
    # - name: Check if libssl-dev is not installed
    #   run: |
        
    #     sudo dpkg --get-selections | grep -i libssl
